body{
  font-family: 'Source Sans Pro';
}

#home{
  background-image: url(../images/header-bg.jpg);
  background-size: 100% 100%;
  height: 100vh;
  text-align: center;
  color: white;
}

.caption{
  height: 100vh;
}

.layer{
  height: 100%;
  width: 100%;
  /*background-color: rgba(0,0,0,0.7);*/
  background-image: url(../images/bg-image-29.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.btn-custom{
  background-color: #00c3da;
  border: 0;
  transition: margin-bottom .5s;
}
.btn-custom:hover{
  margin-bottom: 2px;
  background-color: #00c3da;
}

.btn-custom2{
  color: #fff;
}
.btn-custom2:hover{
  background-color: #fff; 
  color: #595757;
}

/* Start Nav */
.navbar{
  width: 100%;
  border-bottom: 1px solid #ccc;

}

.navbar-nav {
  border-right: 1px solid #ddd;
}
.navbar .nav-item .nav-link{
  color: #fff;
}

.navbar .nav-item .nav-link:hover{
  color: #fff;

}
.navbar-light .navbar-nav .active>.nav-link{
  color: #fff;
}


.nav-icons
{
  color: #fff;

}

/* End Nav */

/* Start Who We Are */
.btn-custom-who:hover{
  background-color: black;
}


/* End Who We Are */

/* Start creative-team*/
#creative-team h2{
  font-family: 'Poppins', sans-serif;
}

.creative-content{
  position: relative;

}
.creative-cover{
  background-color: rgba(0, 195, 218, 0.9);
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all .6s;
}

.creative-content:hover .creative-cover{
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
    
.creative-cover-item{
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .6s;
}

.creative-content:hover .creative-cover-item{
  bottom: 20px;
  left: 0;
  }

/* End creative-team*/


/* Start what-we-do */
#what-we-do{
  background-color: #787878;
}

.what-details i{
  font-size: 50px;
  color: #006f66;
}

#what-we-do h2, #cheap-prices h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 50px;
}
#what-we-do p i{
  font-size: 10px;
}

.span-shadow {
  text-shadow: 3px -20px 3px #848080;
}
/* End what-we-do */


/* Start cheap-prices */
.span-card{
  vertical-align: text-top;
  font-size: 20px;
}

.card-body .btn-card-custom{
  background-color: #00c3da;
  border: 0;
  transition: margin-top .5s;
}
.card-body .btn-card-custom:hover{
  margin-top: 2px;
  background-color: #00c3da;
}

.card-custom-item{
  color: #00c3da;
}
.card-body h5 span{
  background-color: #00c3da;
  padding: 5px;
  color: white;
  font-size: 12px;
}
.card{
  transition: all .6s;
  border: 0;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* End  cheap-prices */

/* start our client */
.carousel-indicators .custom{
  background-color: #00c3da;
  width: 15px;
  height: 15px;
  transition: all .6s;
  border-radius: 50%;
}

.carousel-inner{
  border-radius: 5px;
}
.testimonial-img{
  width: 15%;
}


/* End our client */

/* Start get-touch */
#get-touch{
  width: 100%;  
}

.get-touch-contact h2{
  font-family: 'Poppins', sans-serif;
   font-size: 50px;
}

.btn-custom{
  background-color: #00c3da;
  border: 0;
  transition: margin-top .5s;
  color: white;
}
.btn-custom:hover{
  margin-top: 2px;
  background-color: #00c3da;
  color: #fff;
}
/* End get-touch */